.theme-toggle {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c7c4c4;
  color: #fff;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  background-color: #b79a9a;
}

#theme-icon {
  font-size: 24px;
}
#theme-icon::before {
    content: "\2600"; /* sun icon */
}

.dark-mode #theme-icon::before {
    content: "\f186"; /* moon icon */
  }

.dark-mode .theme-toggle {
  background-color: #fff;
  color: #757272;
}




.dark-mode {
  background-color: #7b7777; 
}

.dark-mode .container {
  background-color: #939090; 
}

.dark-mode .navbar{
  background: linear-gradient(135deg, #3d2331, #1f0d5b);
  color: rgb(255, 232, 232);
}
.dark-mode .app{
  background-color: #383636; 
}

